In [1]:
# import required libraries
import pandas as pd
import yfinance as yf
import numpy as np
import math

In [2]:
# initializing 
ticker = 'TQQQ'
start_date = '2009-01-01'
end_date = '2019-01-01'

df = yf.download(ticker, start_date, end_date, threads= False)
df = df.reset_index()
df.head()

[*********************100%***********************]  1 of 1 completed

        Date      Open      High       Low     Close  Adj Close    Volume
0 2010-02-11  0.813750  0.869792  0.811146  0.865104   0.862942   1728000
1 2010-02-12  0.841563  0.876146  0.836667  0.868646   0.866475   4300800
2 2010-02-16  0.889063  0.904375  0.875104  0.902292   0.900037   4809600
3 2010-02-17  0.914375  0.917813  0.900625  0.917604   0.915311   9590400
4 2010-02-18  0.916667  0.940521  0.911146  0.935000   0.932663  19430400

In [3]:
# parameter setup (default values in the original indicator)
length = 20
mult = 2
length_KC = 20
mult_KC = 1.5

In [4]:
# calculate Bollinger Bands
# moving average
m_avg = df['Close'].rolling(window=length).mean()
# standard deviation
m_std = df['Close'].rolling(window=length).std(ddof=0)
# upper Bollinger Bands
df['upper_BB'] = m_avg + mult * m_std
# lower Bollinger Bands 
df['lower_BB'] = m_avg - mult * m_std

In [5]:
# calculate Keltner Channel
# first we need to calculate True Range
df['tr0'] = abs(df["High"] - df["Low"])
df['tr1'] = abs(df["High"] - df["Close"].shift())
df['tr2'] = abs(df["Low"] - df["Close"].shift())
df['tr'] = df[['tr0', 'tr1', 'tr2']].max(axis=1)
# moving average of the TR
range_ma = df['tr'].rolling(window=length_KC).mean()
# upper Keltner Channel
df['upper_KC'] = m_avg + range_ma * mult_KC
# lower Keltner Channel
df['lower_KC'] = m_avg - range_ma * mult_KC

In [6]:
# check for 'squeeze'
df['squeeze_on'] = (df['lower_BB'] > df['lower_KC']) & (df['upper_BB'] < df['upper_KC'])
df['squeeze_off'] = (df['lower_BB'] < df['lower_KC']) & (df['upper_BB'] > df['upper_KC'])

In [7]:
# calculate momentum value***
highest = df['High'].rolling(window = length_KC).max()
lowest = df['Low'].rolling(window = length_KC).min()
m1 = (highest + lowest) / 2
df['value'] = (df['Close'] - (m1 + m_avg)/2)
fit_y = np.array(range(0,length_KC))
df['value'] = df['value'].rolling(window = length_KC).apply(lambda x : np.polyfit(fit_y, x, 1)[0] * (length_KC-1) + np.polyfit(fit_y, x, 1)[1], raw=True)

In [8]:
# making sense of momentum value***
df['change'] = df['value'].diff()
df['rate of change'] = round(abs(df['change'] / df['value'].shift() * 100))
df

,Date,Open,High,Low,Close,Adj Close,Volume,upper_BB,lower_BB,tr0,tr1,tr2,tr,upper_KC,lower_KC,squeeze_on,squeeze_off,value,change,rate of change
0,2010-02-11,0.813750,0.869792,0.811146,0.865104,0.862942,1728000,NaN,NaN,0.058646,NaN,NaN,0.058646,NaN,NaN,False,False,NaN,NaN,NaN
1,2010-02-12,0.841563,0.876146,0.836667,0.868646,0.866475,4300800,NaN,NaN,0.039479,0.011042,0.028437,0.039479,NaN,NaN,False,False,NaN,NaN,NaN
2,2010-02-16,0.889063,0.904375,0.875104,0.902292,0.900037,4809600,NaN,NaN,0.029271,0.035729,0.006458,0.035729,NaN,NaN,False,False,NaN,NaN,NaN
3,2010-02-17,0.914375,0.917813,0.900625,0.917604,0.915311,9590400,NaN,NaN,0.017188,0.015521,0.001667,0.017188,NaN,NaN,False,False,NaN,NaN,NaN
4,2010-02-18,0.916667,0.940521,0.911146,0.935000,0.932663,19430400,NaN,NaN,0.029375,0.022917,0.006458,0.029375,NaN,NaN,False,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2232,2018-12-24,16.000000,16.645000,15.160000,15.195000,15.163633,43900200,27.779867,16.110133,1.485001,0.235001,1.250000,1.485001,24.701625,19.188375,False,True,-4.296914,-1.068061,33.0
2233,2018-12-26,15.650000,17.969999,15.320000,17.930000,17.917162,94558800,27.787448,15.630552,2.650000,2.775000,0.125000,2.775000,24.561625,18.856375,False,True,-4.643566,-0.346652,8.0
2234,2018-12-27,17.299999,18.200001,16.059999,18.184999,18.171978,85458600,27.713691,15.234309,2.140001,0.270000,1.870001,2.140001,24.403500,18.544500,False,True,-4.874562,-0.230997,5.0
2235,2018-12-28,18.500000,19.055000,17.684999,18.110001,18.097033,76210600,27.303319,14.950181,1.370001,0.870001,0.500000,1.370001,23.994375,18.259125,False,True,-4.852144,0.022418,0.0
2236,2018-12-31,18.680000,18.840000,18.025000,18.520000,18.506739,54241600,26.842760,14.780241,0.815001,0.730000,0.085001,0.815001,23.658125,17.964875,False,True,-4.695135,0.157009,3.0

In [9]:
# entry point for long TQQQ:
# when value increases and is in negative range
df['long_tqqq'] = (df['change'] >= 0) & (df['change'].shift() <= 0) & (df['value'] < 0)

# exit point for TQQQ:
# when value decreases more than 50%
df['exit_tqqq'] = (df['rate of change'] >= 50)


# entry point for long SQQQ:
# when value decreases
df['long_sqqq'] = (df['rate of change'] >= 50) & (df['change'] > 0)

# exit point for SQQQ:
df['exit_sqqq'] = (df['rate of change'] < 10)

In [10]:
df = df.dropna()
df

,Date,Open,High,Low,Close,Adj Close,Volume,upper_BB,lower_BB,tr0,...,lower_KC,squeeze_on,squeeze_off,value,change,rate of change,long_tqqq,exit_tqqq,long_sqqq,exit_sqqq
39,2010-04-09,1.200417,1.220938,1.191146,1.218021,1.214977,14524800,1.222061,1.082887,0.029792,...,1.099177,False,True,0.052226,0.000348,1.0,False,False,False,True
40,2010-04-12,1.222188,1.232292,1.214167,1.222917,1.219861,12201600,1.230071,1.087336,0.018125,...,1.105711,False,True,0.052112,-0.000114,0.0,False,False,False,True
41,2010-04-13,1.218958,1.243333,1.207917,1.241354,1.238252,16809600,1.239127,1.093321,0.035416,...,1.112880,False,True,0.051797,-0.000316,1.0,False,False,False,True
42,2010-04-14,1.259063,1.286146,1.256458,1.285104,1.281893,15273600,1.260005,1.089797,0.029688,...,1.120034,False,True,0.058439,0.006642,13.0,False,False,False,False
43,2010-04-15,1.283750,1.307083,1.282604,1.302292,1.299037,11443200,1.281696,1.086408,0.024479,...,1.129232,False,True,0.066412,0.007973,14.0,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2232,2018-12-24,16.000000,16.645000,15.160000,15.195000,15.163633,43900200,27.779867,16.110133,1.485001,...,19.188375,False,True,-4.296914,-1.068061,33.0,False,False,False,False
2233,2018-12-26,15.650000,17.969999,15.320000,17.930000,17.917162,94558800,27.787448,15.630552,2.650000,...,18.856375,False,True,-4.643566,-0.346652,8.0,False,False,False,True
2234,2018-12-27,17.299999,18.200001,16.059999,18.184999,18.171978,85458600,27.713691,15.234309,2.140001,...,18.544500,False,True,-4.874562,-0.230997,5.0,False,False,False,True
2235,2018-12-28,18.500000,19.055000,17.684999,18.110001,18.097033,76210600,27.303319,14.950181,1.370001,...,18.259125,False,True,-4.852144,0.022418,0.0,True,False,False,True
2236,2018-12-31,18.680000,18.840000,18.025000,18.520000,18.506739,54241600,26.842760,14.780241,0.815001,...,17.964875,False,True,-4.695135,0.157009,3.0,False,False,False,True

In [26]:
capital = 10
start_long = capital
start_short = 0
long_fund = start_long
short_fund = start_short
Trades = []

In [27]:
for i in range(len(df)):
    if i%5 == 0:
        trade = []
        long_fund = 1
        gain_abs = df['Open'].iloc[len(df)-1] - df['Open'].iloc[i+1]
        gain_per = round(gain_abs / df['Open'].iloc[i+1] * 100,1)
        long_fund = round(long_fund * (100 + gain_per)/100,2)
        trade.append("Long")
        trade.append(gain_per)
        trade.append(long_fund)
        trade.append(df['Date'].iloc[i+1])
        trade.append(df['Date'].iloc[len(df)-1])
        Trades.append(trade)

In [28]:
for x in range(len(Trades)):
        print(Trades[x])

['Long', 1428.4, 15.28, Timestamp('2010-04-12 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1401.4, 15.01, Timestamp('2010-04-19 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1302.0, 14.02, Timestamp('2010-04-26 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1401.9, 15.02, Timestamp('2010-05-03 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1628.5, 17.28, Timestamp('2010-05-10 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1677.8, 17.78, Timestamp('2010-05-17 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1976.8, 20.77, Timestamp('2010-05-24 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1890.5, 19.9, Timestamp('2010-06-01 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 2057.2, 21.57, Timestamp('2010-06-08 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1876.5, 19.76, Timestamp('2010-06-15 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1740.0, 18.4, Timestamp('2010-06-22 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 2051.5, 21.52, Timestamp('2010-06-29 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 2331.6, 24.32, Timestamp('2010-07-07 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1932.0, 20.32, Timestamp('2010-07-14 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1897.0, 19.97, Timestamp('2010-07-21 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1823.1, 19.23, Timestamp('2010-07-28 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1786.7, 18.87, Timestamp('2010-08-04 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1891.0, 19.91, Timestamp('2010-08-11 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1976.8, 20.77, Timestamp('2010-08-18 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 2273.6, 23.74, Timestamp('2010-08-25 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 2161.4, 22.61, Timestamp('2010-09-01 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1813.9, 19.14, Timestamp('2010-09-09 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1694.2, 17.94, Timestamp('2010-09-16 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1611.1, 17.11, Timestamp('2010-09-23 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1494.3, 15.94, Timestamp('2010-09-30 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1501.1, 16.01, Timestamp('2010-10-07 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1407.0, 15.07, Timestamp('2010-10-14 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1326.2, 14.26, Timestamp('2010-10-21 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1254.9, 13.55, Timestamp('2010-10-28 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1165.9, 12.66, Timestamp('2010-11-04 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1223.5, 13.24, Timestamp('2010-11-11 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1280.4, 13.8, Timestamp('2010-11-18 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1235.7, 13.36, Timestamp('2010-11-26 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1186.0, 12.86, Timestamp('2010-12-03 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1134.0, 12.34, Timestamp('2010-12-10 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1109.7, 12.1, Timestamp('2010-12-17 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1104.6, 12.05, Timestamp('2010-12-27 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1081.3, 11.81, Timestamp('2011-01-03 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1035.0, 11.35, Timestamp('2011-01-10 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 988.1, 10.88, Timestamp('2011-01-18 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1009.2, 11.09, Timestamp('2011-01-25 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 997.5, 10.98, Timestamp('2011-02-01 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 930.2, 10.3, Timestamp('2011-02-08 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 889.3, 9.89, Timestamp('2011-02-15 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 969.3, 10.69, Timestamp('2011-02-23 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 982.8, 10.83, Timestamp('2011-03-02 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 960.9, 10.61, Timestamp('2011-03-09 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1095.2, 11.95, Timestamp('2011-03-16 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1085.1, 11.85, Timestamp('2011-03-23 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 957.4, 10.57, Timestamp('2011-03-30 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 948.6, 10.49, Timestamp('2011-04-06 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 990.4, 10.9, Timestamp('2011-04-13 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 947.6, 10.48, Timestamp('2011-04-20 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 873.7, 9.74, Timestamp('2011-04-28 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 911.1, 10.11, Timestamp('2011-05-05 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 898.9, 9.99, Timestamp('2011-05-12 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 916.8, 10.17, Timestamp('2011-05-19 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1009.7, 11.1, Timestamp('2011-05-26 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1016.1, 11.16, Timestamp('2011-06-03 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1099.5, 12.0, Timestamp('2011-06-10 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1146.5, 12.46, Timestamp('2011-06-17 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1107.4, 12.07, Timestamp('2011-06-24 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 986.8, 10.87, Timestamp('2011-07-01 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 916.1, 10.16, Timestamp('2011-07-11 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 964.6, 10.65, Timestamp('2011-07-18 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 884.7, 9.85, Timestamp('2011-07-25 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 907.7, 10.08, Timestamp('2011-08-01 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1349.2, 14.49, Timestamp('2011-08-08 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1264.5, 13.64, Timestamp('2011-08-15 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1499.7, 16.0, Timestamp('2011-08-22 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1301.0, 14.01, Timestamp('2011-08-29 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1445.1, 15.45, Timestamp('2011-09-06 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1281.1, 13.81, Timestamp('2011-09-13 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1081.7, 11.82, Timestamp('2011-09-20 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1164.7, 12.65, Timestamp('2011-09-27 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1596.3, 16.96, Timestamp('2011-10-04 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1176.9, 12.77, Timestamp('2011-10-11 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1086.8, 11.87, Timestamp('2011-10-18 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1026.9, 11.27, Timestamp('2011-10-25 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1141.0, 12.41, Timestamp('2011-11-01 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1017.2, 11.17, Timestamp('2011-11-08 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1100.2, 12.0, Timestamp('2011-11-15 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1330.3, 14.3, Timestamp('2011-11-22 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1214.5, 13.14, Timestamp('2011-11-30 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1145.3, 12.45, Timestamp('2011-12-07 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1244.5, 13.44, Timestamp('2011-12-14 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1232.7, 13.33, Timestamp('2011-12-21 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1229.7, 13.3, Timestamp('2011-12-29 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1100.2, 12.0, Timestamp('2012-01-06 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 1073.3, 11.73, Timestamp('2012-01-13 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 978.1, 10.78, Timestamp('2012-01-23 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 972.3, 10.72, Timestamp('2012-01-30 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 876.9, 9.77, Timestamp('2012-02-06 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 825.9, 9.26, Timestamp('2012-02-13 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 801.4, 9.01, Timestamp('2012-02-21 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 777.7, 8.78, Timestamp('2012-02-28 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 799.9, 9.0, Timestamp('2012-03-06 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 727.3, 8.27, Timestamp('2012-03-13 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 679.1, 7.79, Timestamp('2012-03-20 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 630.0, 7.3, Timestamp('2012-03-27 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 624.1, 7.24, Timestamp('2012-04-03 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 679.1, 7.79, Timestamp('2012-04-11 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 686.9, 7.87, Timestamp('2012-04-18 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 706.9, 8.07, Timestamp('2012-04-25 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 691.5, 7.92, Timestamp('2012-05-02 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 800.7, 9.01, Timestamp('2012-05-09 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 808.3, 9.08, Timestamp('2012-05-16 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 888.8, 9.89, Timestamp('2012-05-23 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 873.8, 9.74, Timestamp('2012-05-31 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 837.7, 9.38, Timestamp('2012-06-07 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 886.4, 9.86, Timestamp('2012-06-14 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 787.2, 8.87, Timestamp('2012-06-21 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 871.2, 9.71, Timestamp('2012-06-28 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 777.5, 8.78, Timestamp('2012-07-06 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 866.8, 9.67, Timestamp('2012-07-13 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 761.5, 8.62, Timestamp('2012-07-20 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 816.4, 9.16, Timestamp('2012-07-27 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 753.0, 8.53, Timestamp('2012-08-03 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 709.1, 8.09, Timestamp('2012-08-10 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 655.4, 7.55, Timestamp('2012-08-17 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 671.4, 7.71, Timestamp('2012-08-24 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 654.7, 7.55, Timestamp('2012-08-31 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 622.0, 7.22, Timestamp('2012-09-10 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 593.3, 6.93, Timestamp('2012-09-17 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 607.8, 7.08, Timestamp('2012-09-24 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 629.0, 7.29, Timestamp('2012-10-01 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 640.4, 7.4, Timestamp('2012-10-08 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 697.3, 7.97, Timestamp('2012-10-15 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 749.1, 8.49, Timestamp('2012-10-22 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 763.0, 8.63, Timestamp('2012-10-31 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 774.6, 8.75, Timestamp('2012-11-07 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 852.5, 9.52, Timestamp('2012-11-14 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 829.7, 9.3, Timestamp('2012-11-21 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 747.5, 8.48, Timestamp('2012-11-29 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 794.5, 8.94, Timestamp('2012-12-06 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 754.9, 8.55, Timestamp('2012-12-13 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 730.8, 8.31, Timestamp('2012-12-20 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 814.6, 9.15, Timestamp('2012-12-28 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 718.8, 8.19, Timestamp('2013-01-07 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 703.2, 8.03, Timestamp('2013-01-14 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 693.9, 7.94, Timestamp('2013-01-22 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 698.1, 7.98, Timestamp('2013-01-29 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 710.6, 8.11, Timestamp('2013-02-05 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 669.8, 7.7, Timestamp('2013-02-12 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 660.4, 7.6, Timestamp('2013-02-20 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 719.9, 8.2, Timestamp('2013-02-27 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 641.0, 7.41, Timestamp('2013-03-06 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 644.7, 7.45, Timestamp('2013-03-13 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 642.4, 7.42, Timestamp('2013-03-20 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 657.9, 7.58, Timestamp('2013-03-27 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 654.1, 7.54, Timestamp('2013-04-04 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 609.1, 7.09, Timestamp('2013-04-11 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 660.4, 7.6, Timestamp('2013-04-18 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 620.0, 7.2, Timestamp('2013-04-25 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 593.9, 6.94, Timestamp('2013-05-02 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 537.6, 6.38, Timestamp('2013-05-09 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 507.4, 6.07, Timestamp('2013-05-16 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 527.5, 6.28, Timestamp('2013-05-23 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 511.0, 6.11, Timestamp('2013-05-31 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 534.9, 6.35, Timestamp('2013-06-07 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 535.6, 6.36, Timestamp('2013-06-14 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 585.9, 6.86, Timestamp('2013-06-21 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 582.6, 6.83, Timestamp('2013-06-28 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 528.1, 6.28, Timestamp('2013-07-08 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 470.3, 5.7, Timestamp('2013-07-15 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 481.8, 5.82, Timestamp('2013-07-22 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 474.4, 5.74, Timestamp('2013-07-29 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 438.5, 5.38, Timestamp('2013-08-05 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 453.5, 5.54, Timestamp('2013-08-12 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 469.2, 5.69, Timestamp('2013-08-19 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 443.4, 5.43, Timestamp('2013-08-26 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 458.3, 5.58, Timestamp('2013-09-03 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 413.1, 5.13, Timestamp('2013-09-10 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 419.0, 5.19, Timestamp('2013-09-17 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 395.4, 4.95, Timestamp('2013-09-24 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 397.9, 4.98, Timestamp('2013-10-01 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 401.5, 5.01, Timestamp('2013-10-08 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 385.0, 4.85, Timestamp('2013-10-15 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 336.3, 4.36, Timestamp('2013-10-22 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 327.7, 4.28, Timestamp('2013-10-29 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 336.9, 4.37, Timestamp('2013-11-05 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 344.9, 4.45, Timestamp('2013-11-12 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 330.5, 4.3, Timestamp('2013-11-19 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 313.7, 4.14, Timestamp('2013-11-26 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 301.9, 4.02, Timestamp('2013-12-04 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 285.4, 3.85, Timestamp('2013-12-11 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 299.9, 4.0, Timestamp('2013-12-18 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 265.5, 3.66, Timestamp('2013-12-26 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 269.9, 3.7, Timestamp('2014-01-03 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 270.6, 3.71, Timestamp('2014-01-10 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 260.5, 3.6, Timestamp('2014-01-17 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 278.6, 3.79, Timestamp('2014-01-27 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 287.9, 3.88, Timestamp('2014-02-03 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 273.8, 3.74, Timestamp('2014-02-10 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 241.9, 3.42, Timestamp('2014-02-18 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 235.4, 3.35, Timestamp('2014-02-25 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 230.6, 3.31, Timestamp('2014-03-04 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 228.5, 3.28, Timestamp('2014-03-11 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 243.3, 3.43, Timestamp('2014-03-18 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 251.5, 3.52, Timestamp('2014-03-25 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 259.0, 3.59, Timestamp('2014-04-01 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 292.3, 3.92, Timestamp('2014-04-08 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 302.9, 4.03, Timestamp('2014-04-15 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 270.1, 3.7, Timestamp('2014-04-23 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 280.4, 3.8, Timestamp('2014-04-30 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 277.5, 3.78, Timestamp('2014-05-07 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 265.3, 3.65, Timestamp('2014-05-14 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 264.1, 3.64, Timestamp('2014-05-21 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 230.7, 3.31, Timestamp('2014-05-29 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 224.9, 3.25, Timestamp('2014-06-05 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 213.7, 3.14, Timestamp('2014-06-12 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 209.7, 3.1, Timestamp('2014-06-19 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 205.0, 3.05, Timestamp('2014-06-26 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 186.0, 2.86, Timestamp('2014-07-03 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 191.0, 2.91, Timestamp('2014-07-11 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 188.9, 2.89, Timestamp('2014-07-18 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 176.0, 2.76, Timestamp('2014-07-25 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 192.7, 2.93, Timestamp('2014-08-01 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 197.1, 2.97, Timestamp('2014-08-08 00:00:00'), Timestamp('2018-12-31 00:00:00')]
['Long', 170.3, 2.7, Timestamp('2014-08-15 00:00:00'), Timestamp('2018-12-31 00:00:00')]

In [29]:
print("ticker: ", ticker)
print("start date: ", Trades[0][3])
print("end date: ", Trades[len(Trades)-1][3])
total_returns = 0
capital = 0
for x in range(len(Trades)):
        total_returns += Trades[x][2]
        capital += 1
print("total starting capital: ", capital)
print("long fund: ", start_long)
print("short fund: ", start_short)
# total_returns = round(long_fund + short_fund,2)

print("final capital: ", total_returns)
print("final long: ", long_fund)
print("final short: ", short_fund)
pnl = round(long_fund + short_fund - capital,2)
print("pnl: ", pnl)
print("pnl%: ", round((pnl/capital * 100),2))

years = (Trades[len(Trades)-1][3] - Trades[0][3]).days/365
annualized = round((pow((total_returns / capital),1/years)-1)*100,2)
print("annualized%: ", annualized)

ticker:  TQQQ
start date:  2010-04-12 00:00:00
end date:  2018-12-28 00:00:00
total starting capital:  440
long fund:  10
short fund:  0
final capital:  2440.8500000000035
final long:  1.01
final short:  0
pnl:  -438.99
pnl%:  -99.77
annualized%:  21.72

In [129]:
win_counts = 0
lose_counts = 0

for x in range(len(Trades)):
    if(Trades[x][1] > 0):
        win_counts += 1
    else:
        lose_counts += 1
        
print("win_counts: ", win_counts, "lose_counts: ", lose_counts)

win_counts:  141 lose_counts:  149

In [113]:
short_win_counts = 0
short_lose_counts = 0

for x in range(len(Trades)):
    if (Trades[x][0] == 'Short'):
        if(Trades[x][1] > 0):
            short_win_counts += 1
        else:
            short_lose_counts += 1
        
print("short_win_counts: ", short_win_counts, "short_lose_counts: ", short_lose_counts)

short_win_counts:  164 short_lose_counts:  235